body {
  font-family: system-ui;
  background: rgb(100,100,100);
  color: white;
}

h1{
  text-align: center;
}

p{
  text-align: center;
}

#chocolate-cake{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#milk-bread{
  width: 150px;
}

#curry{
  width: 150px;
}